---
layout: default
type: home
title: I'm Ethan Epperson
---

<!--
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->

<p>
  Hi, and welcome to my portfolio! I am a soon to be graduate of the University of Louisville with a degree in
  Computer Information Systems focused in cybersecurity. In a world fraught with vulnerabilities, my unwavering dedication 
  to cybersecurity fuels my mission: safeguarding others through the power of technology.
</p>

{% include expertise.html %}

<p>
Here are some of the skills and technologies I'm proficient in. 
</p>

{% include projects.html limit=6 %}

<p>
  These are my recent projects, you can find more in the Projects section of the sidebar.
</p>

{% include blogs.html limit=6 %}

<p>
These are my recent blog posts, you can find more in the Blog section of the sidebar.
</p>

